@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Mulish:wght@400;700&family=Poppins:wght@100;200;300;400;500;600&family=Raleway:wght@300;400;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins';
}
#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
}
h1{
    text-align: center;
    font-weight: 500;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 30px 0px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid #828282;
    padding: 6px 5px;
}
.card > img{
    width: 120px;
    height: 186px;
    object-fit: cover;
}
h3{
    font-size: 18px;
}
.rating{
    background-color: rgb(7, 185, 7);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 2px 4px;
}
.right{
    text-align: right;
    font-size: 12px;
}
.left > p{
    font-size: 12px;
    font-weight: 500;
}
.right > p,
.para{
    font-size: 12px;
    color: #828282;
}
.order{
    background: #2d9cdb;
    border-radius: 6px;
    border: none;
    color: white;
    margin-top: 68px;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    line-height: 1;
    height: 40px;
}
@media (min-width: 768px) {
    .main{
        display: grid;
        grid-template-columns: auto auto;
    }
}