@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Mulish:wght@400;700&family=Poppins:wght@100;200;300;400;500;600&family=Raleway:wght@300;400;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins';
}
#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
}
h1{
    text-align: center;
    font-weight: 500;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 30px 0px;
}
.card{
    display: flex;
    justify-content: space-between;
    border: 1px solid #828282;
    padding: 6px 3px;
}
.card > img{
    width: 120px;
    height: 186px;
    object-fit: cover;
    margin: 0px 5px;
}
h3{
    font-size: 18px;
}
.rating{
    background-color: rgb(7, 185, 7);
    color: white;
    border: none;
    border-radius: 6px;
    width: 25px;
    padding: 3px 0px;
}
.right{
    text-align: right;
    font-size: 12px;
    margin: 0px 5px;
}
.left{
    margin: 0px 5px;
}
.left > p{
    font-size: 12px;
    font-weight: 500;
}
.right > p,
.para{
    font-size: 12px;
    color: #828282;
}
.order{
    background: #2d9cdb;
    border-radius: 6px;
    border: none;
    color: white;
    margin-top: 63px;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    line-height: 1;
    height: 40px;
}
.sort > div > button{
    font-size: 10px;
    margin-right: 4px;
    border: none;
    background-color: rgba(243, 60, 60, 0.864);
    color: white;
    border-radius: 4px;
    padding: 2px 3px;
}
.sort > div > p{
  color: #3c3b3b;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
}


@media (min-width: 768px) {
    .main{
        display: grid;
        grid-template-columns: auto auto;
    }
    .card{
        display: flex;
        justify-content: space-between;
        border: 1px solid #828282;
        padding: 10px 5px;
      }
      .order{
          margin-top: 83px;
      }
      .rating{
        width: 30px;
        padding: 5px 0px;
    }
    .sort{
        margin: 30px 10px 20px 10px;
        display: flex;
        gap: 44px;
    }
    .sort > div{
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    .sort > div > button{
        font-size: 14px;
        margin: 0px;
        padding: 5px;
    }
    .sort > div > p{
      font-size: 17px;
      font-weight: 500;
    }
}